@model IEnumerable<FoodiesWorld.Models.Opinion>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager


@{
    ViewData["Title"] = "Index";

    Pager pager = new Pager();

    if (ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;
    }
}

<div class="w-75 m-auto">
    <h1>Revies</h1>

    <table class="table">
        <thead>
            <tr>
                @if (User.IsInRole("Admin"))
                {
                    <th>
                        @Html.DisplayNameFor(model => model.UserId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.RestaurantId)
                    </th>
                }
                <th>
                    @Html.DisplayNameFor(model => model.Rating)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Date)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model) {
                <tr>
                    @if (User.IsInRole("Admin"))
                    {
                        <td>
                            @Html.DisplayFor(modelItem => item.User.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Restaurant.Id)
                        </td>
                    }
                    <td>
                        @Html.DisplayFor(modelItem => item.Rating)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                    @*Allows only Admins and owners of opinion to edit get details or to delete*@
                    @if (User.IsInRole("Admin")|| UserManager.GetUserId(User) == item.UserId)
                    {            
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        
                     </td>
                    }
        </tr>
}
    </tbody>
</table>
    <partial name="_Pagination" model="@pager" />
</div>
